@inherits LayoutComponentBase

<div class="page">
    <head>
        <h1>Att göra just nu</h1>
    </head>
    <main>
        <article class="content">
            @Body
        </article>
        <div class="sidebar">
            <NavMenu />
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
