.button-container[b-ry2umv7w87] {
  display: flex;
  background-color: rgba(245, 73, 144);
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
        rgba(245, 73, 144, 0.5) 5px 10px 15px;

}

.button[b-ry2umv7w87] {
  display: block ; 
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.button:hover[b-ry2umv7w87] {
  transform: translateY(-3px);
}

.icon[b-ry2umv7w87] {
  font-size: 20px;
}

.icon-add[b-ry2umv7w87] {
  height: 2em;
  width: 2em;
  background-color: rgba(245, 73, 144);
  color: #fff;
  border-radius: 50%;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ry2umv7w87] {
        display: none;
    }

    .nav-scrollable[b-ry2umv7w87] {
        display: block;

        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


