.button-container[b-jmdj3bzx1r] {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  z-index: 1000;

}

.button[b-jmdj3bzx1r]
{
  border: none;
  background-color: transparent;
}

.icon[b-jmdj3bzx1r] {
  font-size: 3em;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #000000;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}


.icon:hover[b-jmdj3bzx1r]
{
  transform: scale(1.2);
}

.icon-add[b-jmdj3bzx1r] {
  height: 2em;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jmdj3bzx1r] {
        display: none;
    }

    .nav-scrollable[b-jmdj3bzx1r] {
        display: block;

        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}





/*Modula*/

.modal[b-jmdj3bzx1r] 
{
  background-color: transparent;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  z-index: -1;
  pointer-events: none;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-shadow: -2px -46px 237px 53px rgba(0,0,0,1);
  -webkit-box-shadow: -2px -46px 237px 53px rgba(0,0,0,1);
  -moz-box-shadow: -2px -46px 237px 53px rgba(0,0,0,1);
}

.modal.open[b-jmdj3bzx1r]
{
  opacity: 1;
  z-index: 999;
  pointer-events: all;
}

@keyframes NavBarOpen-b-jmdj3bzx1r {
  0% { top: 100%; }
  100% { top: 0; }
}

@keyframes NavBarClose-b-jmdj3bzx1r {
  0% { top: 0; }
  100% { top: 100%; }
}

.modal-inner[b-jmdj3bzx1r] {
  position: relative;
  background-color: var(--bg-light-green);
  padding: 17px 20px;
  text-align: center;
  width: 100%;
  height: 50%;
  box-shadow: -2px -46px 237px -53px rgba(0,0,0,1);
}

.modal-inner.open-animate[b-jmdj3bzx1r] {
  animation: NavBarOpen-b-jmdj3bzx1r 0.5s forwards;
}

.modal-inner.close-animate[b-jmdj3bzx1r] {
  animation: NavBarClose-b-jmdj3bzx1r 0.5s forwards;
}


.Nav-container[b-jmdj3bzx1r]
{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

