.button-container[b-ry2umv7w87] {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin: 20px;

}

.button[b-ry2umv7w87] {

}

.icon[b-ry2umv7w87] {
  font-size: 3em;
  background-color: #8B80EE;
  padding: 10px;
  border-radius: 45%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-add[b-ry2umv7w87] {
  height: 2em;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ry2umv7w87] {
        display: none;
    }

    .nav-scrollable[b-ry2umv7w87] {
        display: block;

        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


