.container[b-aelsf54yof]
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;


}

.Title[b-aelsf54yof] 
{
    margin-top: 50px;
    grid-area: title;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
}

.uppgift-container[b-aelsf54yof]
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all 1s ease;
    background-color:#D9D9D9 ;
    width: 100%;
    height: 250px;
    border-radius: 35px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}

.uppgift-container:hover[b-aelsf54yof]
{
  transform: scale(1.02);
}

.uppgift[b-aelsf54yof] 
{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.uppgift-text[b-aelsf54yof]
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    font-size: 1.2em;
    margin-right: 0.5rem;
}


.uppgift-text input[type="checkbox"][b-aelsf54yof] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.uppgift-text label[b-aelsf54yof] {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.uppgift-text label[b-aelsf54yof]::before {
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 10dpx;
  background-color: white;
  box-sizing: border-box;
  transition: background-color 0.2s, border-color 0.2s;
}

.uppgift-text input[type="checkbox"]:checked + label[b-aelsf54yof]::before {
  background-color: #007BFF;
  border-color: #0056b3;
}

.uppgift-text input[type="checkbox"]:checked + label[b-aelsf54yof]::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  font-size: 16px;
  pointer-events: none;
}

.uppgift-button[b-aelsf54yof]
{
    width: 20%;
    height: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.uppgifter-button button[b-aelsf54yof]
{
    border-radius: 50%;
    border: none;
    padding: 10px;
}
