.container[b-uxusyiatqd]
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;


}

.Title[b-uxusyiatqd] 
{
    font-family: 'Space Mono';
    margin-top: 40px;
    grid-area: title;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    
    
}

.uppgift-container[b-uxusyiatqd]
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px var(--color-black) solid;
    transition: all 1s ease;
    background-color: var(--color-yellow) ;
    width: 100%;
    height: 250px;
    padding: 15px;
    box-shadow:var(--webkit-box-shadow);

}


.uppgift[b-uxusyiatqd] 
{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.uppgift-text[b-uxusyiatqd]
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 15px;
    font-size: 1.2em;
    margin-right: 0.5rem;
}


.uppgift-text input[type="checkbox"][b-uxusyiatqd] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.uppgift-text label[b-uxusyiatqd] {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.uppgift-text label[b-uxusyiatqd]::before {
  border: 2px var(--color-black) solid;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 10dpx;
  background-color: white;
  box-sizing: border-box;
  transition: background-color 0.2s, border-color 0.2s;
}

.uppgift-text input[type="checkbox"]:checked + label[b-uxusyiatqd]::before {
  background-color: var(--bg-light-blue);
  border-color: var(--color-black);
}

.uppgift-text input[type="checkbox"]:checked + label[b-uxusyiatqd]::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  font-size: 16px;
  pointer-events: none;
}

.uppgift-button h1[b-uxusyiatqd]
{
    font-family: 'Space Mono';
    width: 20%;
    height: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.uppgifter-button button[b-uxusyiatqd]
{
    border-radius: 50%;
    border: none;
    padding: 10px;
}
