#accordion[b-bn0ysh29z1]
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


#accordion li[b-bn0ysh29z1] {
  list-style: none;
  width: 100%;
  height: auto;
  background:#fff;
  padding: 10px;
  border-bottom: rgb(0, 0, 0, 0.3) 1px solid ;

    background-image:
    radial-gradient(circle, rgba(255,255,255,0.9) 1.4px, transparent 1.4px),
    radial-gradient(circle, rgba(255,255,255,0.7) 1px, transparent 1px);
  background-size: 7px 7px, 4px 4px;
  opacity: 0.85;
}

#accordion li label[b-bn0ysh29z1]
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  color: #282828;
}

#accordion label + input[type="radio"][b-bn0ysh29z1]
{
  display: none;
}

#accordion .content[b-bn0ysh29z1] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  line-height: 25px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
}

#accordion input[type="radio"]:checked ~ .content[b-bn0ysh29z1] {
  animation: accordionOpen-b-bn0ysh29z1 0.3s ease forwards;
}

#accordion label + input[type="radio"]:not(:checked) ~ .content[b-bn0ysh29z1] {
  animation: accordionClose-b-bn0ysh29z1 0.3s ease forwards;
}

/* --- Keyframes --- */
@keyframes accordionOpen-b-bn0ysh29z1 {
    0% {
        opacity: 0;
        transform: translateY(-10px);
        max-height: 0;
        min-height: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        max-height: 500px; 
        min-height: 300px;
    }
}


@keyframes accordionClose-b-bn0ysh29z1 {
    0% {
        opacity: 1;
        transform: translateY(0);
        max-height: 500px;
        min-height: 300px;
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
        max-height: 0;
        min-height: 0;
    }
}



#accordion .content .inner-content .Lista[b-bn0ysh29z1]
{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
#accordion .content .inner-content p[b-bn0ysh29z1]
{
  color: #282828;
}


#accordion .content ul[b-bn0ysh29z1]
{
  margin: 0;
  padding: 0;
}

#accordion .content ul li[b-bn0ysh29z1]
{
  list-style: none;
  font-size: 2rem;
  padding: 5px 0;
  color: #282828;
}

#accordion .content .Skapa[b-bn0ysh29z1]
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

#accordion .content .Skapa button[b-bn0ysh29z1]
{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #282828;
  width:30%;
}

#accordion .content .Skapa input[type="text"][b-bn0ysh29z1]
{
  color: #282828;
  width: 70%;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  outline: none;
}

#accordion .content .inner-content .Lista div[b-bn0ysh29z1]
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#accordion .content .inner-content .Lista div input[type="checkbox"][b-bn0ysh29z1]
{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

#accordion .content .inner-content .Lista div input[type="checkbox"]:checked[b-bn0ysh29z1]
{
  accent-color: #FFA500;
}

#accordion .content .inner-content .Lista div .inner-text.completed[b-bn0ysh29z1]
{
    position: relative;
}

#accordion .content .inner-content .Lista div .inner-text.completed[b-bn0ysh29z1]::after
{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    background-color: currentColor;
    color: #FFA500;
}


#accordion .content .inner-content .Lista div button[b-bn0ysh29z1]
{
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}


.swiper[b-bn0ysh29z1] {
    width: 100%;
    height: 100%;
}

.swiper-slide[b-bn0ysh29z1] {
    width: 100%;
    height: 100%;
}



#slider-2[b-bn0ysh29z1]
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.content-sida2[b-bn0ysh29z1]
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-sida2 .title-sida2[b-bn0ysh29z1]
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.content-sida2 .title-sida2 h1[b-bn0ysh29z1]
{
    padding: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: #282828;
    text-align: center;
}

.content-sida2 .list-content[b-bn0ysh29z1]
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-sida2 .list-content ul[b-bn0ysh29z1]
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content-sida2 .list-content ul li[b-bn0ysh29z1]
{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
    font-size: 2rem;
    color: #282828;
    border: 1px solid #282828;
    padding: 10px;
    height: 200px;
    margin-bottom: 2rem;
    
    border-radius: 1rem;
    border: 1px solid #282828;
}

.content-sida2 .list-content ul .popup-button[b-bn0ysh29z1]
{
     display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: #282828;
    border: 1px solid #282828;
    padding: 10px;
    height: 200px;
    width: 100%;
    margin-bottom: 2rem;
    
    border-radius: 1rem;
    border: 1px solid #282828;
}

.content-sida2 .list-content ul .popup[b-bn0ysh29z1]
{
    background-color: #FFA500;
    color: #fff;
    border: none;
    cursor: pointer;
}
