#accordion[b-bn0ysh29z1]
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


#accordion li[b-bn0ysh29z1] {
  list-style: none;
  width: 100%;
  height: auto;
  background:#fff;
  padding: 10px;
  border-bottom: black 1px solid;

    background-image:
    radial-gradient(circle, rgba(255,255,255,0.9) 1.4px, transparent 1.4px),
    radial-gradient(circle, rgba(255,255,255,0.7) 1px, transparent 1px);
  background-size: 7px 7px, 4px 4px;
  opacity: 0.85;
  mix-blend-mode: screen;
}

#accordion li label[b-bn0ysh29z1]
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  color: #282828;
}

#accordion label + input[type="radio"][b-bn0ysh29z1]
{
  display: none;
}

#accordion .content[b-bn0ysh29z1]
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  line-height: 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

#accordion .content .inner-content .Lista[b-bn0ysh29z1]
{
  display: flex;
  flex-direction: column;

}
#accordion .content .inner-content p[b-bn0ysh29z1]
{
  color: #282828;
}

#accordion label + input[type="radio"]:checked + .content[b-bn0ysh29z1]
{
  min-height: 300px;
}


#accordion .content ul[b-bn0ysh29z1]
{
  margin: 0;
  padding: 0;
}

#accordion .content ul li[b-bn0ysh29z1]
{
  list-style: none;
  font-size: 2rem;
  padding: 5px 0;
  color: #282828;
}

#accordion .content .Skapa input[type="text"][b-bn0ysh29z1]
{
  color: #ccc;
  width: 100%;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  outline: none;
}