#accordion[b-bn0ysh29z1]
{
  width: 100%;
  padding: 0;
}

#accordion li[b-bn0ysh29z1] {
  list-style: none;
  width: 100%;
  height: auto;
  background:#fff;
  padding: 10px;
  border-bottom: black 1px solid;
}

#accordion li label[b-bn0ysh29z1]
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  color: #282828;
}

#accordion label + input[type=" checkbox"][b-bn0ysh29z1]
{
  display: none;
}

#accordion .content[b-bn0ysh29z1]
{
  padding: 0 10px;
  line-height: 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#accordion label + input[type=" checkbox"]:checked + .content[b-bn0ysh29z1]
{
  min-height: 300px;
}
