.checkbox-wrapper[b-oiuepgrav4]
{
    margin: 20px;
    display: grid;
    grid-template-areas:
    "checkbox"
    "todo-Description";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    
}

.checkbox[b-oiuepgrav4] 
{
    display: flex;
    align-items: center;
    grid-area: checkbox;
}

.todo-Description[b-oiuepgrav4]
{
    margin-top: 10px;
    align-items: center;
    grid-area: todo-Description;
    font-size: 1.2rem;
    color: #333;
    width: 20rem;
    height: 2em;
}

.checkbox-wrapper .cbx[b-oiuepgrav4] {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.checkbox-wrapper .cbx span[b-oiuepgrav4] {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper .cbx span:first-child[b-oiuepgrav4] {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #b9b8c3;
  transition: all 0.2s ease;
}
.checkbox-wrapper .cbx span:first-child svg[b-oiuepgrav4] {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper .cbx span:first-child[b-oiuepgrav4]:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}
.checkbox-wrapper .cbx span:last-child[b-oiuepgrav4] {
  margin-left: 8px;
}
.checkbox-wrapper .cbx span:last-child[b-oiuepgrav4]:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #b9b8c3;
  transform-origin: 0 0;
  transform: scaleX(0);
}
.checkbox-wrapper .cbx:hover span:first-child[b-oiuepgrav4] {
  border-color: #3c53c7;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child[b-oiuepgrav4] {
  border-color: #3c53c7;
  background: #3c53c7;
  animation: check-15-b-oiuepgrav4 0.6s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child svg[b-oiuepgrav4] {
  stroke-dashoffset: 0;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child[b-oiuepgrav4]:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child[b-oiuepgrav4] {
  color: #b9b8c3;
  transition: all 0.3s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child[b-oiuepgrav4]:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

@keyframes check-15-b-oiuepgrav4 {
  50% {
    transform: scale(1.2);
  }
}
