.container[b-gc6or9rs9o] 
{
  height: 100%;
  display: grid;
  grid-template-areas: 
    "logo"
    "form";
  grid-template-columns: 3fr;
  grid-template-rows: 0.2fr 3fr;
}

.logo-container[b-gc6or9rs9o]
{
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items:  center;
  height: 100%;
}

.logo-container h1[b-gc6or9rs9o]
{
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
  
}

.logo-container svg[b-gc6or9rs9o] 
{
  width: 4em;
  height: 4em;
}




.form-container[b-gc6or9rs9o]
{
  grid-area: form;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form[b-gc6or9rs9o] {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title[b-gc6or9rs9o] {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container[b-gc6or9rs9o] {
  position: relative;
}

.input-container input[b-gc6or9rs9o], .form button[b-gc6or9rs9o] {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input[b-gc6or9rs9o] {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span[b-gc6or9rs9o] {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg[b-gc6or9rs9o] {
  color: #9CA3AF;
  width: 1rem;
  height: 1rem;
}

.submit[b-gc6or9rs9o] {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link[b-gc6or9rs9o] {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a[b-gc6or9rs9o] {
  text-decoration: underline;
}

