@page "/AllaTodo"


    <div class="container">
        <h1 class="Title">
            Alla ToDo
        </h1>
        <div class="uppgift-container">
            <div class="uppgifter-button">
                <h1>Title</h1>
            </div>
            <div class="uppgift">
                <div class="uppgift-text">
                    <input type="checkbox" id="uppgift1" />
                    <label for="uppgift1">Uppgift 1</label>
                </div>
            </div>
        </div>      
    </div>