@page "/"
@rendermode InteractiveServer
@using Blazor_S1.Services.Models


<ul id="accordion">
    <li>
        <label for="Måndag">MÅNDAG </label>
        <input type="radio" name="accordion" id="Måndag" checked>
        <div class="content">
            <div class="inner-content">
                <p>November, 20 2025</p>
                    <div class="Lista">
                        <input type="checkbox" placeholder=""> <span>hej</span>
                        <input type="checkbox" placeholder=""> <span>hej</span>
                        <input type="checkbox" placeholder=""> <span>hej</span>
                    </div>
            </div>
        

            <div class="Skapa">
                <input type="text" placeholder="Skapat nytt..."/>
            </div>
        </div> 
    </li>
    
    <li>
        <label for="Tisdag">TISDAG  </label>
            <input type="radio" name="accordion" id="Tisdag">
                <div class="content">
                </div>     
    </li>
    <li>
        <label for="Onsdag">ONSDAG  </label>
            <input type="radio" name="accordion" id="Onsdag">
                <div class="content">
                </div>     
    </li>
    <li>
        <label for="Torsdag">TORSDAG </label>
            <input type="radio" name="accordion" id="Torsdag">
                <div class="content">
                </div>     
    </li>
    <li>
        <label for="Fredag">FREDAG </label>
            <input type="radio" name="accordion" id="Fredag">
                <div class="content">
                </div>     
    </li>
    <li>
        <label for="Lördag">LÖRDAG </label>
            <input type="radio" name="accordion" id="Lördag">
                <div class="content">
                </div>     
    </li>
    <li>
        <label for="Söndag">SÖNDAG </label>
            <input type="radio" name="accordion" id="Söndag">
                <div class="content">
                </div>     
    </li>
</ul>


@code
{
    private List<TodoItem> todos = new();
    string newTodo = "";
    string nameTodo = "";

    void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
     void RemoveTodo(TodoItem todo)
    {
        todos.Remove(todo);
    }
}


@code
{
    private List<TodoList> todoLists = new();

    void AddTodoList()
    {
        todoLists.Add(new TodoList());
    }

    void RemoveTodoList(TodoList list)
    {
        todoLists.Remove(list);
    }

    void AddTodo(TodoList list)
    {
        if (!string.IsNullOrWhiteSpace(list.NewTodoText))
        {
            list.Items.Add(new TodoItem { Title = list.NewTodoText });
            list.NewTodoText = "";
        }
    }

    
    void RemoveTodo(TodoList list, TodoItem todo)
    {
        list.Items.Remove(todo);
    }

}
