@page "/MinaToDo"


    <div class="container">
        <h1 class="Title">
            Mina ToDo
        </h1>
        <div class="uppgift-container">
            <div class="uppgift">
                <div class="uppgift-text">
                    <input type="checkbox" id="uppgift1" />
                    <label for="uppgift1">Uppgift 1</label>
                </div>
                <div class="uppgifter-button">
                    <button class="Add"></button>
                    <button class="Remove"></button>
                </div>
            </div>
        </div>
    </div>