/* _content/Blazor_S1/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-rpzdqiie06] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 0.5fr;
    grid-template-areas: 
        "Content"
        "NavMenu";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.content[b-rpzdqiie06] 
{ 
    grid-area: Content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 60px;
}


.sidebar[b-rpzdqiie06]
{
    grid-area: NavMenu;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}



#blazor-error-ui[b-rpzdqiie06] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-rpzdqiie06] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Blazor_S1/Components/Layout/NavMenu.razor.rz.scp.css */
.button-container[b-jmdj3bzx1r] {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  z-index: 1000;

}

.button[b-jmdj3bzx1r]
{
  border: none;
  background-color: transparent;
}

.icon[b-jmdj3bzx1r] {
  font-size: 3em;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #000000;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}


.icon:hover[b-jmdj3bzx1r]
{
  transform: scale(1.2);
}

.icon-add[b-jmdj3bzx1r] {
  height: 2em;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jmdj3bzx1r] {
        display: none;
    }

    .nav-scrollable[b-jmdj3bzx1r] {
        display: block;

        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}





/*Modula*/

.modal[b-jmdj3bzx1r] 
{
  background-color: transparent;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  z-index: -1;
  pointer-events: none;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-shadow: -2px -46px 237px 53px rgba(0,0,0,1);
  -webkit-box-shadow: -2px -46px 237px 53px rgba(0,0,0,1);
  -moz-box-shadow: -2px -46px 237px 53px rgba(0,0,0,1);
}

.modal.open[b-jmdj3bzx1r]
{
  opacity: 1;
  z-index: 999;
  pointer-events: all;
}

@keyframes NavBarOpen-b-jmdj3bzx1r {
  0% { top: 100%; }
  100% { top: 0; }
}

@keyframes NavBarClose-b-jmdj3bzx1r {
  0% { top: 0; }
  100% { top: 100%; }
}

.modal-inner[b-jmdj3bzx1r] {
  position: relative;
  background-color: var(--bg-light-green);
  padding: 17px 20px;
  text-align: center;
  width: 100%;
  height: 50%;
  box-shadow: -2px -46px 237px -53px rgba(0,0,0,1);
}

.modal-inner.open-animate[b-jmdj3bzx1r] {
  animation: NavBarOpen-b-jmdj3bzx1r 0.5s forwards;
}

.modal-inner.close-animate[b-jmdj3bzx1r] {
  animation: NavBarClose-b-jmdj3bzx1r 0.5s forwards;
}


.Nav-container[b-jmdj3bzx1r]
{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* _content/Blazor_S1/Components/Pages/AllaToDo.razor.rz.scp.css */
.container[b-uxusyiatqd]
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;


}

.Title[b-uxusyiatqd] 
{
    font-family: 'Space Mono';
    margin-top: 40px;
    grid-area: title;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    
    
}

.uppgift-container[b-uxusyiatqd]
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px var(--color-black) solid;
    transition: all 1s ease;
    background-color: var(--color-yellow) ;
    width: 100%;
    height: 250px;
    padding: 15px;
    box-shadow:var(--webkit-box-shadow);

}


.uppgift[b-uxusyiatqd] 
{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.uppgift-text[b-uxusyiatqd]
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 15px;
    font-size: 1.2em;
    margin-right: 0.5rem;
}


.uppgift-text input[type="checkbox"][b-uxusyiatqd] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.uppgift-text label[b-uxusyiatqd] {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.uppgift-text label[b-uxusyiatqd]::before {
  border: 2px var(--color-black) solid;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 10dpx;
  background-color: white;
  box-sizing: border-box;
  transition: background-color 0.2s, border-color 0.2s;
}

.uppgift-text input[type="checkbox"]:checked + label[b-uxusyiatqd]::before {
  background-color: var(--bg-light-blue);
  border-color: var(--color-black);
}

.uppgift-text input[type="checkbox"]:checked + label[b-uxusyiatqd]::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  font-size: 16px;
  pointer-events: none;
}

.uppgift-button h1[b-uxusyiatqd]
{
    font-family: 'Space Mono';
    width: 20%;
    height: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.uppgifter-button button[b-uxusyiatqd]
{
    border-radius: 50%;
    border: none;
    padding: 10px;
}
/* _content/Blazor_S1/Components/Pages/EgnaToDo.razor.rz.scp.css */
.container[b-bn0ysh29z1]
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;


}

.Title[b-bn0ysh29z1] 
{
    font-family: 'Space Mono';
    margin-top: 40px;
    grid-area: title;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    
    
}

.uppgift-container[b-bn0ysh29z1]
{
    overflow: hidden;
    display: flex;

    flex-direction: column;
    gap: 15px;
    transition: all 1s ease;
    background-color:var(--color-yellow);
    border: 2px var(--color-black) solid;
    width: 100%;
    min-height: 250px;
    padding: 15px;
    box-shadow: var(--webkit-box-shadow);

}

.uppgift-container:hover[b-bn0ysh29z1]{
  transform: scale(1.02);
  box-shadow: var(--webkit-box-shadow-on-hover);
}

.AddTodo[b-bn0ysh29z1]
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 40px;
  box-shadow: var(--webkit-box-shadow);
  margin-top: 30px;
  margin-bottom: 20px;
}

.AddTodo button[b-bn0ysh29z1]
{
  padding: 0;
  border: 1px var(--color-dark-gray) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 2rem;
  width: 20%;
  
  height: 100%;
  background-color: transparent;
}

.AddTodo input[b-bn0ysh29z1] 
{
  height: 2rem;
  font-family: 'Poppins';
  width:80%;
  height: 100%;
  border: none;
}

.uppgift[b-bn0ysh29z1] 
{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.uppgift-text[b-bn0ysh29z1]
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    padding: 15px;
    font-size: 1.2em;
    margin-right: 0.5rem;
    box-shadow: var(--webkit-box-shadow);

}

.uppgift-text button[b-bn0ysh29z1]
{
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var();
  background-color: transparent;
}



.uppgift-text input[type="checkbox"][b-bn0ysh29z1] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.uppgift-text label[b-bn0ysh29z1] {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.uppgift-text label[b-bn0ysh29z1]::before {
  border: 2px var(--color-black) solid;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 10dpx;
  background-color: var(--color-white);
  box-sizing: border-box;
  transition: background-color 0.2s, border-color 0.2s;
}

.uppgift-text input[type="checkbox"]:checked + label[b-bn0ysh29z1]::before {
  background-color: var(--bg-light-blue);
  border-color: var(--color-black);
  text-decoration: line-through;
}




.uppgift-text input[type="checkbox"]:checked + label[b-bn0ysh29z1]::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  font-size: 16px;
  pointer-events: none;
  text-decoration: line-through;
}


.uppgifter-button[b-bn0ysh29z1]
{
  display: flex;
  justify-content: space-between;
}

.uppgifter-button h5[b-bn0ysh29z1]
{
  font-family: 'Space Mono';
  font-weight: 700;
}

.uppgifter-button button[b-bn0ysh29z1]
{
    border: none;
    padding: 15px;
}

.unlockButton[b-bn0ysh29z1]
{
    background-color: #72DE7F;
    pointer-events: auto !important;

}

.Remove[b-bn0ysh29z1]
{
    background-color: #E26868;
    pointer-events: auto !important;
}


.add-Uppgift[b-bn0ysh29z1]
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-gray);
  border: none;
  height: 250px;
  width: 100%;
  font-size: 4rem;
  color: var(--color-white);
  box-shadow: var(--webkit-box-shadow);
  transition: all 1s ease;
}

.add-Uppgift:hover[b-bn0ysh29z1]
{
  transform: scale(1.02);
  box-shadow: var(--webkit-box-shadow-on-hover);
}

.dark-list[b-bn0ysh29z1] {
    background-color: #222;
    color: #aaa;
    pointer-events: none;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.dark-list *[b-bn0ysh29z1] {
    pointer-events: none;
}


.fade-in[b-bn0ysh29z1] {
  animation: fadeIn-b-bn0ysh29z1 1s ease-in-out;
}

@keyframes fadeIn-b-bn0ysh29z1 {
  from {
    opacity: 0;
    transform: scale(0.95);
    
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* _content/Blazor_S1/Components/Pages/Login.razor.rz.scp.css */
.container[b-pi71hpscz9] 
{
  height: 100%;
  display: grid;
  grid-template-areas: 
    "logo"
    "form";
  grid-template-columns: 3fr;
  grid-template-rows: 0.2fr 3fr;
}

.logo-container[b-pi71hpscz9]
{
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items:  center;
  height: 100%;
}

.logo-container h1[b-pi71hpscz9]
{
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
  
}

.logo-container svg[b-pi71hpscz9] 
{
  width: 4em;
  height: 4em;
}




.form-container[b-pi71hpscz9]
{
  grid-area: form;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form[b-pi71hpscz9] {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title[b-pi71hpscz9] {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container[b-pi71hpscz9] {
  position: relative;
}

.input-container input[b-pi71hpscz9], .form button[b-pi71hpscz9] {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input[b-pi71hpscz9] {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span[b-pi71hpscz9] {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg[b-pi71hpscz9] {
  color: #9CA3AF;
  width: 1rem;
  height: 1rem;
}

.submit[b-pi71hpscz9] {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link[b-pi71hpscz9] {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a[b-pi71hpscz9] {
  text-decoration: underline;
}

