/* _content/Blazor_S1/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-6pjpjrfob0] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 4fr 0.5fr;
    grid-template-areas: 
        "header"
        "Content"
        "NavMenu";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.content[b-6pjpjrfob0] 
{ 
    grid-area: Content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header[b-6pjpjrfob0]
{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;

} 


.sidebar[b-6pjpjrfob0]
{
    grid-area: NavMenu;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}



#blazor-error-ui[b-6pjpjrfob0] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-6pjpjrfob0] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Blazor_S1/Components/Layout/NavMenu.razor.rz.scp.css */
.button-container[b-ry2umv7w87] {
  display: flex;
  background-color: rgba(245, 73, 144);
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
        rgba(245, 73, 144, 0.5) 5px 10px 15px;

}

.button[b-ry2umv7w87] {
  display: block ; 
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.button:hover[b-ry2umv7w87] {
  transform: translateY(-3px);
}

.icon[b-ry2umv7w87] {
  font-size: 20px;
}

.icon-add[b-ry2umv7w87] {
  height: 2em;
  width: 2em;
  background-color: rgba(245, 73, 144);
  color: #fff;
  border-radius: 50%;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ry2umv7w87] {
        display: none;
    }

    .nav-scrollable[b-ry2umv7w87] {
        display: block;

        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


/* _content/Blazor_S1/Components/Pages/Home.razor.rz.scp.css */
.checkbox-wrapper[b-oiuepgrav4]
{
    margin: 20px;
    display: grid;
    grid-template-areas:
    "checkbox"
    "todo-Description";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    
}

.checkbox[b-oiuepgrav4] 
{
    display: flex;
    align-items: center;
    grid-area: checkbox;
}

.todo-Description[b-oiuepgrav4]
{
    margin-top: 10px;
    align-items: center;
    grid-area: todo-Description;
    font-size: 1.2rem;
    color: #333;
    width: 20rem;
    height: 2em;
}

.checkbox-wrapper .cbx[b-oiuepgrav4] {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.checkbox-wrapper .cbx span[b-oiuepgrav4] {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper .cbx span:first-child[b-oiuepgrav4] {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #b9b8c3;
  transition: all 0.2s ease;
}
.checkbox-wrapper .cbx span:first-child svg[b-oiuepgrav4] {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper .cbx span:first-child[b-oiuepgrav4]:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}
.checkbox-wrapper .cbx span:last-child[b-oiuepgrav4] {
  margin-left: 8px;
}
.checkbox-wrapper .cbx span:last-child[b-oiuepgrav4]:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #b9b8c3;
  transform-origin: 0 0;
  transform: scaleX(0);
}
.checkbox-wrapper .cbx:hover span:first-child[b-oiuepgrav4] {
  border-color: #3c53c7;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child[b-oiuepgrav4] {
  border-color: #3c53c7;
  background: #3c53c7;
  animation: check-15-b-oiuepgrav4 0.6s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child svg[b-oiuepgrav4] {
  stroke-dashoffset: 0;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child[b-oiuepgrav4]:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child[b-oiuepgrav4] {
  color: #b9b8c3;
  transition: all 0.3s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child[b-oiuepgrav4]:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

@keyframes check-15-b-oiuepgrav4 {
  50% {
    transform: scale(1.2);
  }
}
