/* _content/Blazor_S1/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-rpzdqiie06] {
    max-height: fit-content;
    width: 100%;
    scroll-behavior: smooth;
}

.content[b-rpzdqiie06] 
{ 
    grid-area: Content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 0;
    margin: 1rem;
}


.sidebar[b-rpzdqiie06]
{

}



#blazor-error-ui[b-rpzdqiie06] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-rpzdqiie06] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Blazor_S1/Components/Layout/NavMenu.razor.rz.scp.css */
.button-container[b-jmdj3bzx1r] {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  display: none;
  z-index: 1000;
  position: absolute;

}

.button[b-jmdj3bzx1r]
{
  border: none;
  background-color: transparent;
}

.icon[b-jmdj3bzx1r] {
  font-size: 3em;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #000000;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}


.icon:hover[b-jmdj3bzx1r]
{
  transform: scale(1.2);
}

.icon-add[b-jmdj3bzx1r] {
  height: 2em;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jmdj3bzx1r] {
        display: none;
    }

    .nav-scrollable[b-jmdj3bzx1r] {
        display: block;

        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}





/*Modula*/

.modal[b-jmdj3bzx1r] 
{
  background-color: transparent;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  z-index: -1;
  pointer-events: none;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-shadow: -2px -46px 237px 53px rgba(0,0,0,1);
  -webkit-box-shadow: -2px -46px 237px 53px rgba(0,0,0,1);
  -moz-box-shadow: -2px -46px 237px 53px rgba(0,0,0,1);
}

.modal.open[b-jmdj3bzx1r]
{
  opacity: 1;
  z-index: 999;
  pointer-events: all;
}

@keyframes NavBarOpen-b-jmdj3bzx1r {
  0% { top: 100%; }
  100% { top: 0; }
}

@keyframes NavBarClose-b-jmdj3bzx1r {
  0% { top: 0; }
  100% { top: 100%; }
}

.modal-inner[b-jmdj3bzx1r] {
  position: relative;
  background-color: var(--bg-light-green);
  padding: 17px 20px;
  text-align: center;
  width: 100%;
  height: 50%;
  box-shadow: -2px -46px 237px -53px rgba(0,0,0,1);
}

.modal-inner.open-animate[b-jmdj3bzx1r] {
  animation: NavBarOpen-b-jmdj3bzx1r 0.5s forwards;
}

.modal-inner.close-animate[b-jmdj3bzx1r] {
  animation: NavBarClose-b-jmdj3bzx1r 0.5s forwards;
}


.Nav-container[b-jmdj3bzx1r]
{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* _content/Blazor_S1/Components/Pages/EgnaToDo.razor.rz.scp.css */
#accordion[b-bn0ysh29z1]
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


#accordion li[b-bn0ysh29z1] {
  list-style: none;
  width: 100%;
  height: auto;
  background:#fff;
  padding: 10px;
  border-bottom: rgb(0, 0, 0, 0.3) 1px solid ;

    background-image:
    radial-gradient(circle, rgba(255,255,255,0.9) 1.4px, transparent 1.4px),
    radial-gradient(circle, rgba(255,255,255,0.7) 1px, transparent 1px);
  background-size: 7px 7px, 4px 4px;
  opacity: 0.85;
}

#accordion li label[b-bn0ysh29z1]
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  color: #282828;
}

#accordion label + input[type="radio"][b-bn0ysh29z1]
{
  display: none;
}

#accordion .content[b-bn0ysh29z1] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  line-height: 25px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
}

#accordion input[type="radio"]:checked ~ .content[b-bn0ysh29z1] {
  animation: accordionOpen-b-bn0ysh29z1 0.3s ease forwards;
}

#accordion label + input[type="radio"]:not(:checked) ~ .content[b-bn0ysh29z1] {
  animation: accordionClose-b-bn0ysh29z1 0.3s ease forwards;
}

/* --- Keyframes --- */
@keyframes accordionOpen-b-bn0ysh29z1 {
    0% {
        opacity: 0;
        transform: translateY(-10px);
        max-height: 0;
        min-height: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        max-height: 500px; 
        min-height: 300px;
    }
}


@keyframes accordionClose-b-bn0ysh29z1 {
    0% {
        opacity: 1;
        transform: translateY(0);
        max-height: 500px;
        min-height: 300px;
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
        max-height: 0;
        min-height: 0;
    }
}



#accordion .content .inner-content .Lista[b-bn0ysh29z1]
{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
#accordion .content .inner-content p[b-bn0ysh29z1]
{
  color: #282828;
}


#accordion .content ul[b-bn0ysh29z1]
{
  margin: 0;
  padding: 0;
}

#accordion .content ul li[b-bn0ysh29z1]
{
  list-style: none;
  font-size: 2rem;
  padding: 5px 0;
  color: #282828;
}

#accordion .content .Skapa[b-bn0ysh29z1]
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

#accordion .content .Skapa button[b-bn0ysh29z1]
{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #282828;
  width:30%;
}

#accordion .content .Skapa input[type="text"][b-bn0ysh29z1]
{
  color: #282828;
  width: 70%;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  outline: none;
}

#accordion .content .inner-content .Lista div[b-bn0ysh29z1]
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#accordion .content .inner-content .Lista div input[type="checkbox"][b-bn0ysh29z1]
{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

#accordion .content .inner-content .Lista div input[type="checkbox"]:checked[b-bn0ysh29z1]
{
  accent-color: #FFA500;
}

#accordion .content .inner-content .Lista div .inner-text.completed[b-bn0ysh29z1]
{
    position: relative;
}

#accordion .content .inner-content .Lista div .inner-text.completed[b-bn0ysh29z1]::after
{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    background-color: currentColor;
    color: #FFA500;
}


#accordion .content .inner-content .Lista div button[b-bn0ysh29z1]
{
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}


.swiper[b-bn0ysh29z1] {
    width: 100%;
    height: 100%;
}

.swiper-slide[b-bn0ysh29z1] {
    width: 100%;
    height: 100%;
}



#slider-2[b-bn0ysh29z1]
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.content-sida2[b-bn0ysh29z1]
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-sida2 .title-sida2[b-bn0ysh29z1]
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.content-sida2 .title-sida2 h1[b-bn0ysh29z1]
{
    padding: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: #282828;
    text-align: center;
}

.content-sida2 .list-content[b-bn0ysh29z1]
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-sida2 .list-content ul[b-bn0ysh29z1]
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content-sida2 .list-content ul li[b-bn0ysh29z1]
{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
    font-size: 2rem;
    color: #282828;
    border: 1px solid #282828;
    padding: 10px;
    height: 200px;
    margin-bottom: 2rem;
    
    border-radius: 1rem;
    border: 1px solid #282828;
}
